body {
  margin: 0;
  padding: 0;
  background-color: #333333;
  color: white;
  text-align: center;
}

.menor {
  color: tomato;
}

.mayor {
  color: limegreen;
}

button {
  margin: 0px 0.5rem;
  border-radius: 0 20px;
  width: 150px;
  height: 50px;
  background: rgb(228, 253, 113);
  transition: transform 500ms ease-in-out;
}

button.aumentar:hover {
  transform: scale(1.05);
  background: rgb(45, 148, 41);
  color: white;
}

button.disminuir:hover {
  transform: scale(1.05);
  background: rgb(148, 41, 59);
  color: white;
}
